<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="store container m-4">
        <h2>Oops page not Foumd - 404 Page</h2>
    </div>   
    <%- include('./partials/footer.ejs') %> 
</body>
</html>