<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patients</title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/">Home Page</a>
            <p>A Patients Store</p>
        </div>
        <ul>
            <li>
                <a href="/patients">Patients</a>
            </li>
            <li>
                <a href="/drugs">Drugs</a>
            </li>
        </ul>
    </nav>
    <div class="store content">
        <h2>Oops page not Foumd - 404 Page</h2>
    </div>    
</body>
</html>