<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patients</title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/">Home Page</a>
            <p>A Patients Store</p>
        </div>
        <ul>
            <li>
                <a href="/patients">Patients</a>
            </li>
            <li>
                <a href="/drugs">Drugs</a>
            </li>
        </ul>
    </nav>
    <div class="createpatient content">
        <h2>Create a Patient</h2>
        <form>
            <label for="firstname">First Name:</label>
            <input type="text" id="firstname" required>
            <label for="lastname">Last Name:</label>
            <input type="text" id="lastname" required>
            <label for="gender">Gender:</label>
            <input type="text" id="gender" required>
            <button>Submit</button>
        </form>
    </div>    
</body>
</html>