<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="conatianer-fluid m-4">
        <h1>Patients Management</h1>
        <h3>Manage Your Patiens Data</h3>
        <div>
            This is a basic web application that manage patients store
        </div>
    </div>  
    <%- include('./partials/footer.ejs') %>  
</body>
</html>